<html>
    <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    {% block stylesheets %}
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/manager/css/style.css') }}">
    {% endblock %}
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="row header">
                <div class="col-sm-12">
                    <h1>Gestionnaire de Base de données</h1>
                </div>
            </div>
            <div class="row main">
                <div class="col-sm-12">
                    <div id="bdd_state">
                        <h2>Etat des Bases de données</h2>
                        <table>
                            <thead>
                            	<tr>
                            		<th>IP</th>
                            		<th>Status du serveur</th>
		                            <th>Status</th>
		                            <th>Log Binaire</th>
		                            <th>Position Binaire</th>
		                            <th>IO Running</th>
		                            <th>SQL Running</th>
					    			<th>Read Only</th>
		                            <th>Relay Purge</th>
		                     	</tr>
		                 	</thead>
                        	<tbody>
	                        	{% for server in manager.bddServers %}
	                            <tr>
	                                <td>{#{ dump(server.mysql.replicationStatus) }#}{{ server.ip }}</td>
	                                <td>
		                                {% if server.mysql.status == 1 %}
		                                	<span class="ok">Up</span>
		                                {% else %}
		                                	<span class="nok">Down</span> 
		                                {% endif %}
	                                </td>
	                              	{% if server.mysql.status %}
	                                <td>{{ server.mysql.state }}</td>
	                                {% if(server.mysql.state == 'Master') %}
										<td>{{ server.mysql.replicationStatus['File'] }}</td>
	                                	<td>{{ server.mysql.replicationStatus['Position'] }}</td>
	                                	<td></td>
	                                	<td></td>
									{% elseif(server.mysql.state == 'Slave') %}
										<td>{{ server.mysql.replicationStatus['Master_Log_File'] }}</td>
                                        <td>{{ server.mysql.replicationStatus['Read_Master_Log_Pos'] }}</td>
										<td>{{ server.mysql.replicationStatus['Slave_IO_Running'] }}</td>
										<td>{{ server.mysql.replicationStatus['Slave_SQL_Running'] }}</td>
									{% endif %}
										<td>{{ server.mysql.global['read_only'] }}</td>
										<td>{{ server.mysql.global['relay_log_purge'] }}</td>
									{% endif %}
							    </tr>
	                        	{% endfor %}
                    		</tbody>
                    	</table>
                    	{% if not manager.isServerDown %}
                    		<button id="sync" class="btn btn-primary">Synchroniser</button>
                    	{% endif %}
                    </div>
                    <div id="magento_state">
                     	<h2>Clusters Magento</h2>
                    	<table>
                            <thead>
                            	<tr>
                            		<th>IP</th>
                            		<th>Status</th>
		                            <th>Ip de la Bdd</th>
		                     	</tr>
		                 	</thead>
                        	<tbody>
	                        	{% for server in manager.magentoServers %}
	                            <tr>
	                                <td>{{ server.ip }}</td>
	                                <td>
	                                	{% if server.status == 1 %}
		                                	<span class="ok">Up</span>
		                                {% else %}
		                                	<span class="nok">Down</span> 
		                                {% endif %}
		                            </td>
	                                <td>{{ server.BddIp }}</td>
							    </tr>
	                        	{% endfor %}
                    		</tbody>
                    	</table>
                    </div>
                    <div id="mha_state">
                        <h2>Etat du Manager MHA</h2>
						<div>
	                        Ip du Master : {{ manager.mainMhaBddIp }}
                        </div>
                        <div>
							{% if manager.status %}
	                            <span class="glyphicon glyphicon-ok"></span>
	                            <span>Le manager MHA est en cours d'éxecution</span>
	                        {% else %}
	                            <span class="glyphicon glyphicon-remove"></span>
	                            <span>Le manager MHA n'est pas en cours d'éxecution</span>
	                        {% endif %}
						</div>
						<div class="log">
                            En cours de chargement ...
                        </div>
                        <button id="start_mha" class="btn btn-primary">Démarrer MHA</button>
                        
                        <div class="time">Date du Log : <span id="refresh_time"></span></div>
                        <script>
                            setInterval(function (){
                                $('#mha_state .log').load("{{ path('manager_ha_log')}}").fadeIn("slow");
                                $('#mha_state #refresh_time').html(new Date($.now()));
                            }, 500);
                            $('#start_mha').click(function(){
                            	jQuery.ajax({
                            		url: '{{ path('manager_ha_start_mha') }}'
                            		
                            	});
                            });
                            $('#sync').click(function(){
                            	$('.load').show();
                            	jQuery.ajax({
                            		url: '{{ path('manager_ha_sync') }}',
                            		success: function(s,x){ 
                            			location.reload();
                            			$('.load').hide();
                            		} 
                            	});
                            });
                        
                        </script>
                    </div> 
                    <div id="feu_tricolore" class="
                    {% if (manager.isMasterOk == 1) and (manager.isMhaOk == 1) %}
                    	green
                    {% elseif (manager.isMasterOk == 1) or (manager.isMhaOk == 1) %}
                    	orange
                    {% else %}
                    	red
                    {% endif %}
                    ">
                    </div>
                </div>
            </div>
            <div class="row footer">
                <div class="col-sm-12">
                    Developped by Johnny Cottereau
                </div>
            </div>
        </div>
        <div class="load">
        <div class="loader"></div>
        </div>
    </body>
</html>
