<html>
    <head>
    {% block stylesheets %}
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/manager/css/style.css') }}">
    {% endblock %}
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="row header">
                <div class="col-sm-12">
                    <h1>Gestionnaire de Base de données</h1>
                </div>
            </div>
            <div class="row main">
                <div class="col-sm-12">
                    <div id="bdd_state">
                        <h2>Etat des Bases de données</h2>
                        <table>
                            <thead>
                            	<tr>
                            		<th>IP</th>
                            		<th>Status du serveur</th>
		                            <th>Status</th>
		                            <th>Log Binaire</th>
		                            <th>Position Binaire</th>
		                            <th>IO Running</th>
		                            <th>SQL Running</th>
					    			<th>Read Only</th>
		                            <th>Relay Purge</th>
		                     	</tr>
		                 	</thead>
                        	<tbody>
	                        	{% for server in manager.servers %}
	                            <tr>
	                                <td>{{server.mysql}}{{ server.ip }}</td>
	                                <td>{{ server.status }}</td>
							    </tr>
	                        	{% endfor %}
                    		</tbody>
                    	</table>
                    	<button id="sync" onclick="self.location.href='{{ path('manager_ha_sync') }}'" class="btn btn-primary">Synchroniser</button>
                    </div>
                     
                </div>
            </div>
            <div class="row footer">
                <div class="col-sm-12">
                    Developped by Johnny Cottereau
                </div>
            </div>
        </div>
    </body>
</html>
