<html>
    <head>
    {% block stylesheets %}
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/manager/css/style.css') }}">
    {% endblock %}
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="row header">
                <div class="col-sm-12">
                    <h1>Gestionnaire de Base de données</h1>
                </div>
            </div>
            <div class="row main">
                <div class="col-sm-12">
                    <div id="bdd_state">
                        <h2>Etat des Bases de données</h2>
                        <table>
                            <thead>
                            	<tr>
                            		<th>IP</th>
		                            <th>Status</th>
		                            <th>Log Binaire</th>
		                            <th>Position Binaire</th>
		                            <th>IO Running</th>
		                            <th>SQL Running</th>
					    			<th>Read Only</th>
		                            <th>Relay Purge</th>
		                     	</tr>
		                 	</thead>
                        	<tbody>
	                        	{% for item in bdd %}
	                            <tr>
	                                <td>{{ item.ip }}</td>
	                                <td>
										{% if (mha_conf.server1['hostname'] == item.ip) and (item.status == 'Master') %}
											<span class='ok'>{{ item.status }}</span>
										{% elseif (mha_conf.server1['hostname'] == item.ip) and (item.status == 'Master') %}
											<span class='ok'>{{ item.status }}</span>
										{% else %}
											{{ item.status }}
										{% endif %}
									</td>
	                                <td>{{ item.log_binaire }}</div>
	                                <td>{{ item.pos_binaire }}</div>
	                                <td>{{ item.io_running  | default("&nbsp;")}}</div>
	                                <td>{{ item.sql_running  | default("&nbsp;")}}</div>
	                                <td>
										{% if ((item.global_variables['read_only'] == 'OFF') and (item.status == 'Master') or (item.global_variables['read_only'] == 'ON') and (item.status == 'Slave') ) %}
	                                        <span class="ok">{{ item.global_variables['read_only'] }}</span>
	                                	{% else %}
	                                        <span class="nok">{{ item.global_variables['read_only'] }}</span>
	                                	{% endif %}
									</td>
									<td>
										{% if ((item.global_variables['relay_log_purge'] == 'ON') and (item.status == 'Master') or (item.global_variables['relay_log_purge'] == 'OFF') and (item.status == 'Slave') ) %}
											<span class="ok">{{ item.global_variables['relay_log_purge'] }}</span>
										{% else %}
											<span class="nok">{{ item.global_variables['relay_log_purge'] }}</span>
										{% endif %}
									</td>
							    </tr>
	                        	{% endfor %}
                    		</tbody>
                    	</table>
                    </div>
                    <div id="mha_state">
                        <h2>Etat du Manager MHA</h2>
						<div>
	                        Ip du Master : {{ mha_conf.server1['hostname'] }}
                        </div>
                        <div>
							{% if mha_status %}
	                            <span class="glyphicon glyphicon-ok"></span>
	                            <span>Le manager MHA est en cours d'éxecution</span>
	                        {% else %}
	                            <span class="glyphicon glyphicon-remove"></span>
	                            <span>Le manager MHA n'est pas en cours d'éxecution</span>
	                        {% endif %}
						</div>
						<div class="log">
                            En cours de chargement ...
                        </div>
                        <div class="time">Date du Log : <span id="refresh_time"></span></div>
                        <script>
                            setInterval(function (){
                                $('#mha_state .log').load("{{ path('manager_ha_log')}}").fadeIn("slow");
                                $('#mha_state #refresh_time').html(new Date($.now()));
                            }, 500);
                        </script>
                    </div>
                </div>
            </div>
            <div class="row footer">
                <div class="col-sm-12">
                    Developped by Johnny Cottereau
                </div>
            </div>
        </div>
    </body>
</html>
