<html>
    <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    {% block stylesheets %}
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/manager/css/style.css') }}">
    {% endblock %}
        <script src="{{ asset('bundles/manager/js/jquery-1.11.0.min.js') }}"></script>
    </head>
    <body>
        <div class="container">
            <div class="row header">
                <div class="col-sm-12">
                    <h1>Gestionnaire de Base de données</h1>
                </div>
            </div>
            <div class="row main">
                <div class="col-sm-12">
                	<div class="row">
                		<div class="col-sm-12">
		                    <div id="bdd_state">
		                        <h2>État des Bases de données</h2>
		                        <table class="table table-striped">
		                            <thead>
		                            	<tr>
		                            		<th colspan="2">Serveur</th>
				                            <th colspan="8">BDD</th>
				                     	</tr>
		                            	<tr>
		                            		<th>IP du serveur</th>
		                            		<th>Status de Mysql</th>
				                            <th>Status de réplication</th>
				                            <th>Log Binaire</th>
				                            <th>Position Binaire</th>
				                            <th>Slave IO Running</th>
				                            <th>Slave SQL Running</th>
							    			<th>Read Only</th>
				                            <th>Relay Purge</th>
				                            <th>Action</th>
				                     	</tr>
				                 	</thead>
		                        	<tbody>
			                        	{% for server in manager.bddServers %}
			                            <tr>
			                                <td>{{ server.ip }}</td>
			                                <td>
				                                {% if server.mysql.status == 1 %}
				                                	<span class="ok">Up</span>
				                                {% else %}
				                                	<span class="nok">Down</span> 
				                                {% endif %}
			                                </td>
			                              	{% if server.mysql.status %}
			                                <td>{{ server.mysql.state }}</td>
			                                {% if(server.mysql.state == 'Master') %}
												<td>{{ server.mysql.replicationStatus['File'] }}</td>
			                                	<td>{{ server.mysql.replicationStatus['Position'] }}</td>
			                                	<td></td>
			                                	<td></td>
											{% elseif(server.mysql.state == 'Slave') %}
												<td>{{ server.mysql.replicationStatus['Master_Log_File'] }}</td>
		                                        <td>{{ server.mysql.replicationStatus['Read_Master_Log_Pos'] }}</td>
												<td alt="{{ server.mysql.replicationStatus['Last_IO_Error'] }}">
													{% if server.mysql.replicationStatus['Slave_IO_Running'] ==  'No' %}
														<span class="nok">{{ server.mysql.replicationStatus['Slave_IO_Running'] }}</span>
													{% else %}
														<span class="ok">{{ server.mysql.replicationStatus['Slave_IO_Running'] }}</span>
													{% endif %}
												</td>
												<td alt="{{ server.mysql.replicationStatus['Last_SQL_Error'] }}">
													{% if server.mysql.replicationStatus['Slave_SQL_Running'] ==  'No' %}
														<span class="nok">{{ server.mysql.replicationStatus['Slave_SQL_Running'] }}</span>
													{% else %}
														<span class="ok">{{ server.mysql.replicationStatus['Slave_SQL_Running'] }}</span>
													{% endif %}
												</td>
											{% endif %}
												<td>{{ server.mysql.global['read_only'] }}</td>
												<td>{{ server.mysql.global['relay_log_purge'] }}</td>
											{% endif %}
											<td>
												{% if not manager.getServersDown %}
			                    					<button id="sync" class="btn btn-primary synchronisation" data-url="{{ path('manager_ha_sync',{'ip': server.ip } ) }}">Forcer en Master</button>
			                    				{% endif %}
			                    			</td>
									    </tr>
			                        	{% endfor %}
		                    		</tbody>
		                    	</table>
		                    </div>
		            	</div>
		            </div>
		           	<div class="row">
		                <div class="col-sm-9">
		                    <div id="magento_state">
		                     	<h2>Clusters Magento</h2>
		                    	<table class="table table-striped">
		                            <thead>
		                            	<tr>
		                            		<th colspan="1">Magento</th>
		                            		<th colspan="4">Serveur</th>
				                     	</tr>
		                            	<tr>
		                            	    <th>Ip de la BDD</th>
		                            		<th>IP du serveur</th>
		                            		<th>Status du serveur</th>
		                            		<th>Serveur actif</th>
		                            		<th>Action</th>
				                     	</tr>
				                 	</thead>
		                        	<tbody>
			                        	{% for server in manager.magentoServers %}
			                            <tr>
			               					<td>{{ server.BddIp }}</td>
			                                <td>{{ server.ip }}</td>
			                                <td>
			                                	{% if server.status == 1 %}
				                                	<span class="ok">Up</span>
				                                {% else %}
				                                	<span class="nok">Down</span> 
				                                {% endif %}
				                            </td>
				                            <td>
			                                {% if server.isMaster == 1 %}
				                                	<span class="ok">Actif</span>
				                                {% else %}
				                                	<span class="nok">En Attente</span> 
				                                {% endif %}
			                                </td>
			                                <td>
			                                	{% if server.isMaster != 1 %}
			                    					<button id="change_public_ip" class="btn btn-primary public_ip" data-url="{{ path('manager_ha_change_public_ip',{'ip': server.ip } ) }}">Passer en Actif</button>
			                    				{% else %}
			                    					<button id="remove_public_ip" class="btn btn-warning btn-xs public_ip" data-url="{{ path('manager_ha_remove_public_ip',{'ip': server.ip } ) }}">Retirer l'IP public</button>
			                    				{% endif %}
			                    			</td>
									    </tr>
			                        	{% endfor %}
		                    		</tbody>
		                    	</table>
		                    	<div class="magento_main_ip">
			                        IP public de Magento : <b>{{ manager.getConfiguration.public_ip }}</b>
		                        </div>
		                        {% if manager.isPublicIpLive %}
									<div class="magento_status">
			                            <span class="glyphicon glyphicon-ok"></span>
			                            <span>Le site web répond au ping</span>
			                        </div>
		                        {% else %}
			                        <div class="magento_status not">
			                            <span class="glyphicon glyphicon-remove"></span>
			                            <span>Le site web ne répond pas au ping</span>
			                        </div>
		                        {% endif %}
		                    </div>
		               	</div>
		            	<div class="col-sm-3">
		            		<div class="server_state">
		            			<h2>Serveurs</h2>
			            		<table>
			                        <thead>
			                        	<tr>
			                        		<th>{{ manager.getConfiguration.server_name[0] }}</th>
				                            <th>{{ manager.getConfiguration.server_name[1] }}</th>
				                     	</tr>
				                 	</thead>
			                    	<tbody>
			                    		<tr>
			                    			<td>{{ manager.getConfiguration.magento_ips[0] }}</td>
				                            <td>{{ manager.getConfiguration.magento_ips[1] }}</td>
			                    		</tr>
			                    		<tr>
			                    			<td>{{ manager.getConfiguration.bdd_ips[0] }}</td>
				                            <td>{{ manager.getConfiguration.bdd_ips[1] }}</td>
			                    		</tr>
			                    	</tbody>
			                    </table>
			               	</div>
		                </div>
		          	</div>
		          	<div class="row">
		                <div class="col-sm-12">   
		                    <div id="mha_state">
		                        <h2>État du Manager MHA</h2>
								<div class="mha_main_ip">
			                        IP du Master : <b>{{ manager.mha.main_bdd_ip }}</b>
		                        </div>
								{% if manager.mha.isrunning %}
									<div class="mha_status">
			                            <span class="glyphicon glyphicon-ok"></span>
			                            <span>Le manager MHA est en cours d'éxecution</span>
			                        </div>
		                        {% else %}
			                        <div class="mha_status not">
			                            <span class="glyphicon glyphicon-remove"></span>
			                            <span>Le manager MHA n'est pas en cours d'éxecution</span>
			                        </div>
		                        {% endif %}
								<div class="log">
		                            En cours de chargement ...
		                        </div>
		                        <button id="start_mha" class="btn btn-primary">Démarrer MHA</button>
		                        
		                        <div class="time">Date du Log : <span id="refresh_time"></span></div>
		                    </div>
		              	</div>
		           	</div>
		    	</div>
	            <div id="global_state">
	                <div id="feu_tricolore" class="
	                    {% if (manager.isMainBddServerOperational == 1) and (manager.mha.isOperational == 1) and (manager.isPublicIpLive == 1) %}
	                    	green
	                    {% elseif (manager.isMainBddServerOperational == 1) or (manager.mha.isOperational == 1) %}
	                    	orange
	                    {% else %}
	                    	red
	                    {% endif %}
	                    ">
	                </div>
	           	</div>
	            <script>
	                setInterval(function (){
	                    $('#mha_state .log').load("{{ path('manager_ha_log')}}").fadeIn("slow");
	                    $('#mha_state #refresh_time').html(new Date($.now()));
	                }, 500);
	                $('#start_mha').click(function(){
	                	jQuery.ajax({
	                		url: '{{ path('manager_ha_start_mha') }}',
	                		success: function(s,x){
	                			setTimeout(function(){ 
	                				location.reload();
	                			 }, 4000);
	                		} 
	                	});
	                });
	                $('.synchronisation').click(function(){
	                	$('.load').show();
	                	jQuery.ajax({
	                		url: $(this).attr('data-url'),
	                		success: function(data,x){
	                			alert(data);
	                			location.reload();
	                			$('.load').hide();
	                		} 
	                	});
	                });
	                
	                $('.public_ip').click(function(){
	                	$('.load').show();
	                	jQuery.ajax({
	                		url: $(this).attr('data-url'),
	                		success: function(data,x){
	                			alert(data);
	                			setTimeout(function(){ 
	                				location.reload();
	                			 }, 8000);
	                			$('.load').hide();
	                		} 
	                	});
	                });
	            
	            </script>
			</div>
            <div class="row footer">
                <div class="col-sm-12">
                    Developped by Johnny Cottereau - Auguria
                </div>
            </div>
        </div>
        <div class="load">
        <div class="loader"></div>
        </div>
    </body>
</html>
